@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar" IconName="IconName.BootstrapFill" Title="Семейный Архив"
             DataProvider="SidebarDataProvider" />

    <main class="main-content">

        <!-- Верхняя панель (Навбар) -->
        <header class="navbar-top">
            <div>
                <ThemeSwitcher Position="DropdownMenuPosition.End" />
            </div>
        </header>

        <!-- Рабочая область контента -->
        <section class="content-wrapper">
            @Body
        </section>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem>? navItems;

    [Inject] private ToastService ToastService { get; set; } = default!;

    private void OnThemeChanged(string themeName)
    {
        ToastService.Notify(new(ToastType.Success, $"Тема изменена на {themeName}"));
    }

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        navItems ??= GetNavItems();
        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        return new List<NavItem>
        {
            new() { Id = "1", Href = "ftree", IconName = IconName.TreeFill, Text = "Семейное Дерево" },
            new() { Id = "2", Href = "add-member", IconName = IconName.PeopleFill, Text = "Добавить человека" }
        };
    }
}
