# Игнорировать папки сборок и временные файлы
bin/
obj/
**/bin/
**/obj/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Виртуальные окружения
env/
venv/
ENV/
.venv/

# Пакеты
*.egg
*.egg-info/
dist/
build/

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db


# Другие файлы
*.env
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/144ba9ae-88a9-4366-ac41-73dfec087dae.vsidx
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/6259a098-99c8-4aaa-a9c4-7baac98c3fda.vsidx
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/6dad86c0-6bd9-4dda-b7a1-73144123fb67.vsidx
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/9d6a11e9-97e3-44a5-ace4-f6e9d2fbc136.vsidx
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/a8c0d3f0-212a-4e5b-8ca2-578b5549ca61.vsidx
/WebClient/WebFamily/.vs/WebFamily/FileContentIndex/1bd6e8ee-169a-4c10-acfa-1990aca13f6e.vsidx
